.headerContainer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.logo {
    width: 2.5rem;
    margin: 25px 50px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.icon {
    margin: 15px;
    font-size: 1.5rem !important;
    cursor: pointer;
    transition: color 0.3s ease;
}

.personIcon {
    color: rgb(255, 255, 255);
}

.personIcon:hover {
    color: rgb(182, 182, 182);
}

.logoutIcon {
    color: rgb(255, 0, 0);
}

.logoutIcon:hover {
    color: #fff;
}

.loginIcon {
    color: rgb(255, 255, 255);
}

.loginIcon:hover {
    color: rgb(182, 182, 182);
}


@media screen and (max-width: 768px) {

    .headerContainer {
        align-items: center;
        height: 10vh;
    }

    .logo {
        width: 30px;
    }

    .headerContainer svg {
        width: 50px;
        margin: 10px 30px;
    }

    .icon {
        font-size: 2rem !important;
        margin: 10px 0;
    }

}