.header {
    display: flex;
    align-items: end;
    margin-bottom: 2rem;
    gap: 1rem;
    justify-content: space-between;
}

.header h3 {
    color: #ccc;
    margin: 0;
    font-family: 'Karla', sans-serif;
    background: linear-gradient(270deg,
            #ffffff, #bfbfbf, #a0a0a0, #8a8a8a, #bfbfbf, #ffffff);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: chromeShine 6s ease-in-out infinite;
}

@keyframes chromeShine {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}

.logoArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
}

.logoArea span {
    font-size: 2rem;
    color: #ccc;
}

.logoArea h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.newChat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    font-weight: 600;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    gap: 0.5rem;
    border: none;
}

.navItem {
    display: flex;
    justify-content: space-between;
    background-color: #2a2a2a;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.navItem:hover {
    background-color: #1f1f1f;
}

.navItem .deleteButton {
    background-color: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0;
}

.footer button {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.75rem;
    background: none;
    border: none;
    color: #ccc;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
}

.footer button:hover {
    background-color: #333;
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #333;
    transition: width 0.1s ease;
    min-width: 250px;
    overflow-y: scroll;

    scrollbar-width: none;
}

.sidebarClosed {
    width: 30px;
    min-width: 30px !important;
}

.sidebarClosed .newChat,
.sidebarClosed nav,
.sidebarClosed .footer,
.sidebarClosed .header h3 {
    display: none;
}

.rotated {
    transform: rotate(360deg);
}

@media screen and (max-width: 768px) {

    .sidebarClosed {
        width: 0;
        padding: 0;
        min-width: 0 !important;
    }

    .sidebarClosed .newChat,
    .sidebarClosed nav,
    .sidebarClosed .footer,
    .sidebarClosed .header {
        display: none;
    }

    
}