.pageHome {
    display: flex;
    background: linear-gradient(135deg, #313131 0%, #1a1a1a 100%);
    color: white;
    height: 85vh;
    text-align: center;
    flex-direction: column;
}

.cardsContainer {
    width: 30%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s all;
    
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card h2{
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    
    .pageHome {
        height: 90vh;
    }

}