main h1{
    text-align: center;;
    font-size: 2em;
    margin-top: 50px;
}

main .cards{

    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 50px solid #000000;

}

main .cards .card{
    width: 30%;
    padding: 20px;
    margin: 20px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .cards .card h2{
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}

main .cards .card p{
    font-size: 1em;
    margin: 20px 10px;
    text-align: justify;
    line-height: 2em;
}

main .languages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

main .languages img{
    width: 150px;
    height: 100px;
    margin: 10px;
    transition: all 0.3s;
    box-shadow: 0 0 3px #5a5a5a;
    border-radius: 10px;
}